@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Quản lý nhà cung cấp";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm-->
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tên nhà cung cấp cần tìm" autofocus name="searchValue" value="@ViewBag.Searchvaue"/>
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Supplier/Create" class="btn btn-primary" style="margin-left: 5px;">
                        <i class="fa fa-plus"></i>Thêm mới
                    </a>
                </div>
            </div>
        </form>

        <p style="margin: 10px 0;">Có <b>1,000 </b>nhà cung cấp trong tổng số <b>100</b> trang</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped mx-auto">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center" style="vertical-align: middle;">Mã nhà cung cấp</th>
                        <th class="text-center" style="vertical-align: middle;">Tên nhà cung cấp</th>
                        <th class="text-center" style="vertical-align: middle;">Tên liên hệ</th>
                        <th class="text-center" style="vertical-align: middle;">Tỉnh thành</th>
                        <th class="text-center" style="vertical-align: middle;">Địa chỉ</th>
                        <th class="text-center" style="vertical-align: middle;">Số điện thoại</th>
                        <th class="text-center" style="vertical-align: middle;">Địa chỉ Email</th>
                        <th class="text-center" style="vertical-align: middle;" style="width: 100px;">Hành động</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align: middle;">#@item.SupplierID</td>
                            <td class="text-center" style="vertical-align: middle;">@item.SupplierName</td>
                            <td class="text-center" style="vertical-align: middle;">@item.ContactName</td>
                            <td class="text-center" style="vertical-align: middle;">@item.Province</td>
                            <td class="text-center" style="vertical-align: middle;">@item.Address</td>
                            <td class="text-center" style="vertical-align: middle;"> @item.Phone</td>
                            <td class="text-center" style="vertical-align: middle;">@item.Email</td>
                            <td class="text-right text-center" style="vertical-align: middle;">
                                <a href="~/Supplier/Edit/123" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Supplier/Delete/123" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>  
                <li class="active"><a href="#">2</a></li>  
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>

</div>