@model Shipper
@{

}
<div class="box box-primary">
    <div class="box-body">
      <form action="~/Shipper/Save" method="POST">
      <input type="hidden" name="@nameof(Model.ShipperID)" value="@Model.ShipperID">
  <div class="form-group">
    <label>Tên shipper:</label>
    <input type="text" class="form-control" autofocus name="@nameof(Model.ShipperName)" value="@Model.ShipperName">
    @Html.ValidationMessage(nameof(Model.ShipperName))
  </div>
  <div class="form-group">
    <label>Số điện thoại:</label>
    <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone">
    @Html.ValidationMessage(nameof(Model.Phone))
  </div>
  <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">
            <i clas="fa fa-floppy-o"></i>
            Lưu dữ liệu
        </button>
        <a href="~/Shipper" class="btn btn-default">Quay lại</a>
  </div>
</form>
    </div>
</div>