 @model SV21T1020285.Web.Models.CategorySearchResult
@{
    Layout = null;
}
 <p style="margin: 10px 0;">Có <b>@Model.RowCount</b>loại hàng trong tổng số <b>@Model.PageCount</b> trang</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped mx-auto">
        <thead>
            <tr class="bg-primary">
                <th class="text-center" style="vertical-align: middle;">Mã loại hàng </th>
                <th class="text-center" style="vertical-align: middle;">Tên loại hàng</th>
                <th class="text-center" style="vertical-align: middle;">Mô tả</th>
                <th class="text-center" style="vertical-align: middle; width: 100px;">Hành động</th>
            </tr>

        </thead>
        <tbody>
                @foreach (var item in Model.Data)
            {
                <tr>
                    <td class="text-center" style="vertical-align: middle;">#@item.CategoryID</td>
                    <td class="text-center" style="vertical-align: middle;">@item.CategoryName</td>
                    <td class="text-center" style="vertical-align: middle;">@item.Description</td>
                    <td class="text-right text-center" style="vertical-align: middle;">
                        <a href="~/Category/Edit/@item.CategoryID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Category/Delete/@item.CategoryID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="text-center">
    <ul class="pagination">
        @for(int p = 1; p <= Model.PageCount; p++) {
            if(p == Model.Page) {
                <li class="active"><a href="#">@p</a></li>  
            }
            else {
                <li><a href="javascript:;" onclick="doSearch(@p)">@p</a></li>  
            }
        }
    </ul>
</div>